@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-time-view, .rbc-time-view-resources{
    display: grid !important;
    background:'red'!important;
    border: 1px solid #000000;
    
  }

  .rbc-time-content{
    overflow-anchor: none !important;
  }